@model dynamic

@{
    ViewBag.Title = "Desafío 03 del Curso Platzi C#";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Desafío N° 3 C#</h1>
    <p>Proyecto que incluye todo lo relacionado al desafío N° 3 del curso Básico de C# en Platzi</p>
</div>